---
import '@/styles/globals.css';
import { Portfolio } from '@/components/Portfolio';
import { NAME, AVATAR_URL } from "@/script/constants";

const title = NAME;
const description = 'read if cute.';
const url = Astro.url;
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={`${AVATAR_URL}?size=32`} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={AVATAR_URL} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={AVATAR_URL} />
	</head>
	<body class="bg-background text-foreground">
		<Portfolio client:load />
	</body>
</html>
